*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 3000px;
}

/* 15a Css Exercise */
.container-15a {
  position: relative;
  height: 50px;
}

.container-15a div {
  position: absolute;
  right: 10px;

  color: white;
  background-color: black;
  padding: 12px 15px;
  border-radius: 50%;

  font-size: 18px;
}

/* 15b CSS Exercise */

.container-15b {
  position: relative;

  height: 250px;
}

.container-15b div {
  position: absolute;
  bottom: 5px;
  right: 10px;

  width: 320px;
  height: 180px;

  background-color: hsl(0, 0%, 47%);
}

/* 15c CSS exercise */

.container-15c {
  position: relative;

  height: 250px;
}

.container-15c .bg-item {
  position: absolute;
  bottom: 5px;
  right: 10px;
  
  background-color: hsl(0, 0%, 47%);
  width: 320px;
  height: 180px;
}

.container-15c .bg-item .close-btn {
  position: absolute;
  top: -15px;
  left: -20px;

  background-color: black;
  color: white;

  padding: 10px 15px;

  border-radius: 50%;
}

.container-15c .bg-item .time {
  position: absolute;
  bottom: 5px;
  right: 5px;

  background-color: black;
  color: white;

  padding: 4px;
  font-size: 15px;
} 

/* 15e & 15f CSS exercise */

.bg-cart {
  position: relative;
  display: inline-block
}

.bg-cart .cart-offer {
  position: absolute;
  right: 0;
  top: 10px;

  background-color: black;
  color: white;
  padding: 8px 15px;
}

.container-15e .bg-cart img {
  width: 300px;
}

.container-15e .bg-cart .cart-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;

  background-color: rgba(255, 255, 255, 0.6);
}

.container-15e .bg-cart .cart-btn button {
  background-color: hsl(0, 0%, 90%);
  color: black;

  border: 1px solid black;

  padding: 5px 10px;
}
