header {
  height: 57px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 150px;
}

.middle-section {
  flex: 1;
  background-color: lightcoral;
  margin: 0 30px 0 70px;
  max-width: 500px;
}

.right-section {
  width: 200px;
  background-color: lightgreen;
}